DISCORD_TOKEN={DISCORD_TOKEN}
GEMINI_API_KEY={GEMINI_API_KEY}
CLOUD_FUNCTION_URL={CLOUD_FUNCTION_URL}
GOOGLE_APPLICATION_CREDENTIALS=gen-lang-client.json
GOOGLE_TEMPLATE_FORM_ID={GOOGLE_TEMPLATE_FORM_ID}
GOOGLE_DRIVE_FOLDER_ID={GOOGLE_DRIVE_FOLDER_ID}
ALLOWED_GUILDS=641317998442971146
